apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  name: __REPOSITORY_NAME__-service-ci
  annotations:
    pipelinesascode.tekton.dev/on-event: "[pull_request, push]"
    pipelinesascode.tekton.dev/on-target-branch: "[develop]"
    pipelinesascode.tekton.dev/pipeline: https://raw.githubusercontent.com/eac-architecture/eac-pipeline-catalog/v__CATALOG_RELEASE_VERSION__/catalog/profiles/services/dotnet/pipelines/continuous-integration.yaml
spec:
  pipelineRef: {name: eac-dotnet-service-ci}
  params:
    - {name: repo-url, value: "{{ source_url }}"}
    - {name: revision, value: "{{ revision }}"}
  taskRunTemplate:
    serviceAccountName: eac-ci
    podTemplate:
      securityContext: {fsGroup: 65532, fsGroupChangePolicy: OnRootMismatch}
  workspaces:
    - name: source
      volumeClaimTemplate:
        spec:
          accessModes: [ReadWriteOnce]
          resources: {requests: {storage: 4Gi}}
