apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  name: __REPOSITORY_NAME__-deployment
  annotations:
    pipelinesascode.tekton.dev/on-event: "[push]"
    pipelinesascode.tekton.dev/on-target-branch: "[main]"
    pipelinesascode.tekton.dev/pipeline: https://raw.githubusercontent.com/eac-architecture/eac-pipeline-catalog/v0.5.0/catalog/profiles/deployments/pipelines/promotion.yaml
spec:
  pipelineRef: {name: eac-deployment-promotion}
  params:
    - {name: repo-url, value: "{{ source_url }}"}
    - {name: revision, value: "{{ revision }}"}
    - {name: target-api, value: __TARGET_API__}
    - {name: target-namespace, value: __TARGET_NAMESPACE__}
    - {name: workload, value: __WORKLOAD__}
    - {name: container, value: __CONTAINER__}
    - {name: image-reference, value: __IMAGE_REFERENCE_BY_DIGEST__}
  taskRunTemplate:
    serviceAccountName: eac-deployment
  workspaces:
    - name: source
      volumeClaimTemplate:
        spec:
          accessModes: [ReadWriteOnce]
          resources: {requests: {storage: 1Gi}}
